<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Sain_games" Manufacturer="SUPERGEM" Version="0.0.4.0" UpgradeCode="8654ea41-7f11-4569-99cb-18c489cc2201">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
		<ComponentGroupRef Id="ImageFolder"/>
    </Feature>
  </Package>
</Wix>
